{
    "comments": false,
    "presets": [
        [
            "minify",
            {
                "mangle": {
                    "exclude": [
                        "Go"
                    ]
                },
                "keepFnName": false
            }
        ]
    ]
}